<div dojoType="dijit.form.Form" id="loginForm">
	<div id="loginContent" dojoType="dijit.layout.BorderContainer" gutters="false" style="height:13em; width:25em">
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:3em" >
			<div dojoType="dijit.layout.ContentPane" region="leading" style="width:7em; overflow:hidden" >Username:</div>
			<div dojoType="dijit.layout.ContentPane" region="center" >
				<div dojoType="dijit.form.TextBox" name="loginUsername" id="loginUsername" ></div>
			</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:3em" >
			<div dojoType="dijit.layout.ContentPane" region="leading" style="width:7em; overflow:hidden" >Password:</div>
			<div dojoType="dijit.layout.ContentPane" region="center" >
				<div dojoType="dijit.form.TextBox" type="password" name="loginPassword" id="loginPassword" ></div>
			</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:3em; overflow:hidden" >
			<div dojoType="dijit.layout.ContentPane" region="center" style="text-align:center; overflow:hidden" >
				<div dojoType="dijit.form.Button" name="loginButton" id="loginButton" >Login</div>
			</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:3em" >
			<div dojoType="dijit.layout.ContentPane" region="center" id="loginResponse" style="color:red" >
			</div>
		</div>
	</div>
</div>