<div dojoType="dijit.form.Form" id="registerForm">
	<div id="registerContent" dojoType="dijit.layout.BorderContainer" gutters="false" style="height:25em; width:25em">
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:3em" >
			<div dojoType="dijit.layout.ContentPane" region="leading" style="width:7em; overflow:hidden" >Username:</div>
			<div dojoType="dijit.layout.ContentPane" region="center" >
				<div dojoType="dijit.form.TextBox" name="registerUsername" id="registerUsername" ></div>
			</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:3em" >
			<div dojoType="dijit.layout.ContentPane" region="leading" style="width:7em; overflow:hidden" >Password:</div>
			<div dojoType="dijit.layout.ContentPane" region="center" >
				<div dojoType="dijit.form.TextBox" type="password" name="registerPassword" id="registerPassword" ></div>
			</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:3em" >
			<div dojoType="dijit.layout.ContentPane" region="leading" style="width:7em; overflow:hidden" >Verify Password:</div>
			<div dojoType="dijit.layout.ContentPane" region="center" >
				<div dojoType="dijit.form.TextBox" type="password" name="verify" id="verify" ></div>
			</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:6em" >
			<div dojoType="dijit.layout.ContentPane" region="top" style="overflow:hidden" >Optional Email (For password reset only):</div>
			<div dojoType="dijit.layout.ContentPane" region="center" >
				<div dojoType="dijit.form.TextBox" name="email" id="email" ></div>
			</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:3em; overflow:hidden" >
			<div dojoType="dijit.layout.ContentPane" region="center" style="text-align:center; overflow:hidden" >
				<div dojoType="dijit.form.Button" name="registerButton" id="registerButton" >Register</div>
			</div>
		</div>
		<div dojoType="dijit.layout.BorderContainer" region="top" gutters="false" style="height:3em" >
			<div dojoType="dijit.layout.ContentPane" region="center" id="registerResponse" style="color:red" >
			</div>
		</div>
	</div>
</div>